html {
    box-sizing: border-box;
}

*,
*::before,
*::after,
input[type="search"] {
  box-sizing: inherit;
}

body {
    font: 62.5%/2 var(--text-font-stack);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: inherit;
}
