.h-clearfix {
    clear: fix;
}

.h-display-inline-block {
    display: inline-block !important;
}

.h-display-none {
    display: none !important;
}

.h-visibility-hidden {
    visibility: hidden !important;
}

.h-full-width {
    width: 100% !important;
}

.h-full-height {
    height: 100% !important;
}

.h-align-left {
    text-align: left !important;
}

.h-align-center {
    text-align: center !important;
}

.h-align-right {
    text-align: right !important;
}

.h-no-margin {
    margin: 0 !important;
}

.h-no-margin-bottom {
    margin-bottom: 0 !important;
}

.h-no-margin-top {
    margin-top: 0 !important;
}

.h-float-right {
    float: right !important;
}

.h-no-border {
    border: none !important;
}

.h-no-border-top {
    border-top: none !important;
}

.h-no-border-bottom {
    border-bottom: none !important;
}

.h-position-absolute {
    position: absolute !important;
}

.h-right-zero {
    right: 0 !important;
}

.h-overflow-hidden {
    overflow: hidden !important;
}

.h-no-pointer-events {
    pointer-events: none !important;
}
