:root {
	--margin: calc(20 / 1440 * 100vw);
	--gutter: calc(40 / 1440 * 100vw);
}

@define-mixin container $max-width: none {
	display: flex;
	max-width: $max-width;
	margin: 0 auto;
}

@define-mixin column $size, $total {

	.column--$(size)-$(total) {
		width: calc((100vw - 2 * var(--margin)) * $size / $total - (var(--gutter) - var(--gutter) * $size / $total));
	}
}

@define-mixin offset $size, $total {

	.offset--$(size)-$(total) {
		margin-left: calc((100vw - 2 * var(--margin)) * $size / $total + var(--gutter) * $size / $total);
	}
}
