@define-mixin v-center {
	position: absolute;
	top: 50%;

	transform: translateY(-50%);
}

@define-mixin center {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

@define-mixin clearfix {

	&::after {
		content: '';

		display: block;

		clear: both;
	}
}

@define-mixin ratio $width, $height {
	display: block;
	height: 0;
	padding: 0 0 resolve(strip($height) / strip($width) * 100)% 0;

	position: relative;

	overflow: hidden;
}
